<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Profile List</h3>
      <table class="table table-dark w-100">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">PIN</th>
            <th scope="col">Birthdate</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of profiles">
            <td>{{item.name}}</td>
            <td>{{item.profile_name}}</td>
            <td>{{item.pin}}</td>
            <td>{{item.birth}}</td>
            <td>
              <button routerLink="/profiles/new" (click)="update(item)" type="button"
                class="btn btn-outline-primary">Update</button>
            </td>
            <td>
              <button (click)="delete(item)" type="button" class="btn btn-outline-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>