/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; 
}

.ng-invalid:not(form){
    border-left: 5px solid #A94442;
}

html, body {
    min-height: 100vh; 
    min-width: 100vw;
}