<div class="container">
    <div class="row align-items-center h-100">
      <div class="col-12">
        <h3 class="col-12">Verify your cellphone code - TubeKids</h3>
        <form class="row justify-content-center border rounded" [formGroup]="form" (ngSubmit)="onSubmit()">
  
          <div class="col-12 col-md-5 form-group">
            <label for="codetxt">Write the code that we send you via cellphone message</label>
            <input formControlName="code" type="text" name="code" id="codetxt" class="form-control"
              placeholder="Write your verification code" required>
          </div>
          <div class="w-100"></div>
          <div class="col-12 col-md-5 form-group">
            <section class="row justify-content-end">
                <button [disabled]="!form.valid" type="submit" class="col-auto btn btn-secondary">Verify code</button>
            </section>
          </div>
        </form>
      </div>
    </div>
  </div>