<div class="container">
  <div class="col-12 col-md-10">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="search input-group flex-nowrap">
          <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping">Search videos</span>
          </div>
          <input [(ngModel)]="search" type="text" class="form-control" placeholder="Search video by name"
            aria-label="Video" aria-describedby="addon-wrapping">
          <div class="input-group-prepend">
            <button (click)="getAll()" *ngIf="search == ''" class="btn btn-outline-secondary" type="button"
              id="button-addon1">Search All</button>
            <button (click)="getAll()" *ngIf="search != ''" class="btn btn-outline-secondary" type="button"
              id="button-addon1">Search Video</button>

          </div>
        </div>
      </div>
      <div class="row btns justify-content-end">
        <div class="col-auto btn-group">
          <button routerLink="/home" type="button" class="btn btn-outline-danger"><i
              class="fas fa-chevron-circle-left"></i> Go Back</button>
          <a routerLink="/add-video" routerLinkActive="active" (click)="goToAddVideo()"
            class="btn btn-outline-success"><i class="fas fa-plus"></i> Add Video</a>
        </div>
      </div>
      <div class="w-100"></div>
      <div *ngIf="htmlVideo != null" class="col-auto">
        <iframe width="560" height="315" [src]="htmlVideo" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div *ngIf="videosInt.length > 0" class="row justify-content-center">
      <div class="col-auto">
        <table mat-table [dataSource]="videosInt" class="mat-elevation-z8">

          <ng-container matColumnDef="update">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Update </th>
            <td mat-cell *matCellDef="let element" (click)="update(element)"> <button type="button"
                class="btn btn-outline-secondary">Update</button>
            </td>
          </ng-container>

          <ng-container matColumnDef="delete">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Delete </th>
            <td mat-cell *matCellDef="let element" (click)="delete(element)"> <button type="button"
                class="btn btn-outline-danger">Delete</button>
            </td>
          </ng-container>Î

          <!-- URL Column -->
          <ng-container matColumnDef="url">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Show </th>
            <td mat-cell *matCellDef="let element" (click)="changeVideo(element)">
              <button type="button" class="btn btn-outline-success">Watch</button>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th class="text-center" mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

  </div>
</div>