<div class="container">
  <div class="row">
    <div *ngIf="form != null" class="col-12">

      <form class="row border rounded border-secondary justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="form">

        <h3 class="col-12 col-md-5"> {{title}} </h3>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="nametxt">Profile name</label>
          <input formControlName="name" type="text" name="name" id="nametxt" class="form-control"
            placeholder="Write the profile name" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="profile_nametxt">Profile username</label>
          <input formControlName="profile_name" type="text" name="profile_name" id="profile_nametxt2"
            class="form-control" placeholder="Write the profile name" required>
        </div>
        <div class="w-100"></div>

        <div class="col-12 col-md-5 form-group">
          <label for="pintxt">Profile PIN</label>
          <input formControlName="pin" type="text" name="pin" id="pintxt" class="form-control"
            placeholder="Write the profile PIN" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <mat-form-field>
            <input matInput id="birthdate" formControlName="birth" [matDatepicker]="picker"
              placeholder="Choose the profile's birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="w-100"></div>


        <div class="col-12 col-md-5 form-group">
          <div class="row justify-content-end">
            <div class="col-auto btn-group">
              <button type="submit" [disabled]="!form.valid" class="btn btn-outline-success"><i
                  class="far fa-check-square"></i>{{btntitle}}</button>
              <button routerLink="/home" type="button" class="btn btn-outline-danger"><i
                  class="fas fa-chevron-circle-left"></i> Go Back</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>