<div class="container">
  <div class="row">
    <div class="col-12">
      <form class="row border rounded border-secondary justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="form">

        <div class="col-12">
          <h4>Register in TubeKids</h4>
        </div>

        <div class="col-12 col-md-5 form-group">
          <label for="nametxt">Name</label>
          <input formControlName="name" type="text" name="name" id="nametxt" class="form-control"
            placeholder="Write your name" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="lastnametxt">Lastname</label>
          <input formControlName="lastname" type="text" name="lastname" id="lastnametxt" class="form-control"
            placeholder="Write your lastname" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="emailtxt">Email</label>
          <input formControlName="email" type="email" name="email" id="emailtxt" class="form-control"
            placeholder="Write a valid email" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="passwordtxt">Password</label>
          <input formControlName="password" type="password" name="password" id="passwordtxt" class="form-control"
            placeholder="Write your password" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="password_repeattxt">Repeat password</label>
          <input formControlName="password_repeat" type="password" name="password_repeat" id="password_repeattxt"
            class="form-control" placeholder="Repeat your password" required>
        </div>
        <div class="w-100"></div>

        <div class="col-12 col-md-5 form-group input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="countryselector">Country</label>
          </div>
          <select formControlName="country" class="custom-select" id="countryselector">
            <option *ngFor="let country of countries; let i=index" [ngValue]="country">{{country.name}}</option>
          </select>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="phonetxt">Phone number</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="countryselector">{{form.get('country').value.code}}</label>
            </div>
            <input formControlName="phone" type="text" name="phone" id="phonetxt" class="form-control"
              placeholder="Write your phone number" required>
          </div>
        </div>

        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <mat-form-field>
            <input matInput id="birthdate" formControlName="birth" [matDatepicker]="picker"
              placeholder="Choose your birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="w-100"></div>

        <div class="col-12 col-md-5 form-group">
          <div class="row justify-content-end">
            <div class="col-auto">
                <button type="submit" [disabled]="!form.valid" class="btn btn-outline-success"><i class="far fa-check-square"></i> Create <br> your account</button>
                <button routerLink="/users/session" type="button" class="btn btn-outline-danger"><i class="fas fa-chevron-circle-left"></i> Go <br> Back</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>