<div class="container">
  <div class="col-12 col-md-8">
    <h3><i class="fas fa-home"></i> Home</h3>

    <div class="row playlist-section">

      <div class="col-12 col-md-5">
        <div class="card text-white bg-warning mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> {{playlist.name}} </h5>
            <h6 class="card-subtitle mb-2 text-muted">Playlist</h6>
            <div class="btn-group">
              <a (click)="openPLaylist()" class="btn btn-secondary"><i class="fas fa-angle-right"></i> Open playlist</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-5">
        <div class="card text-white bg-primary mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"> Profiles </h5>
            <h6 class="card-subtitle mb-2 ">Administrator</h6>
            <div class="btn-group">
              <a routerLink="/profiles" routerLinkActive="active" class="btn btn-success"><i class="fas fa-plus"></i>
                Open Profiles</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-auto">
          <button (click)="logout()" type="button" class="btn btn-outline-danger">Logout</button>
      </div>
    </div>

  </div>
</div>