<div class="container">
  <div class="row">
    <div class="col-12">

      <form class="row border rounded border-secondary justify-content-center" (ngSubmit)="onSubmit()"
        [formGroup]="form">

        <h3 class="col-12 col-md-5"> {{title}} </h3>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="nametxt2">Name</label>
          <input formControlName="name" type="text" name="name" id="nametxt2" class="form-control"
            placeholder="Write the video's name" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <mat-slide-toggle formControlName="is_youtube">{{state}}</mat-slide-toggle>
        </div>

        <div class="w-100"></div>

        <div *ngIf="form.get('is_youtube').value" class="col-12 col-md-5 form-group">
          <label for="urltxt2">YouTube Link</label>
          <input formControlName="url" type="url" name="url" id="urltxt2" class="form-control"
            placeholder="Paste the youtube link" required>
        </div>

        <div class="w-100"></div>

        <div *ngIf="!form.get('is_youtube').value" class="input-group col-12 col-md-5">
          <div class="custom-file">
            <input id="fileSearch" type="file" (change)="onFileSelected($event)" accept="video/mp4" class="custom-file-input">
            <label *ngIf="!form.value.file" class="custom-file-label" for="fileSearch">Upload a video</label>
            <label *ngIf="form.value.file" class="custom-file-label" for="fileSearch">{{form.value.file.name}}</label>
          </div>
        </div>

        <br>
        <div class="w-100"></div>

        <div class="col-12 col-md-5 form-group">
          <div class="row justify-content-end">
            <div class="col-auto btn-group">
              <button type="submit" [disabled]="!form.valid" class="btn btn-outline-success"><i
                  class="far fa-check-square"></i>{{btntitle}}</button>
              <button routerLink="/videos" type="button" class="btn btn-outline-danger"><i
                  class="fas fa-chevron-circle-left"></i> Cancel</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>