<header>
    <div class="row align-items-center">
        <div class="col-7 col-md-2">
            <img src="../assets/TubeKids.png" class="img-fluid">
        </div>
    </div>
</header>
<br>

<router-outlet></router-outlet>