<div class="container">
  <div class="row align-items-center h-100">
    <div class="col-12">
      <h3 class="col-12">Login TubeKids</h3>
      <form class="row justify-content-center border rounded" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="col-12 col-md-5 form-group">
          <label for="emailtxt">Email</label>
          <input formControlName="email" type="email" name="email" id="emailtxt" class="form-control"
            placeholder="Write your email" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <label for="passwordtxt">Password</label>
          <input formControlName="password" type="password" name="password" id="passwordtxt" class="form-control"
            placeholder="Write your password" required>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <section class="row justify-content-end">
              <button [disabled]="!form.valid" type="submit" class="col-auto btn btn-secondary"><i class="fas fa-sign-in-alt"></i> Login</button>
          </section>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md-5 form-group">
          <a href="/users/new" routerLinkActive="active">Create a TubeKids account</a>
        </div>
      </form>
    </div>
  </div>
</div>